{% extends 'base.html.twig' %}

{% block title %}Warticle{% endblock %}

{% block body %}
    <h1>Warticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ warticle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ warticle.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ warticle.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ warticle.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_warticle_index') }}">back to list</a>

    <a href="{{ path('app_warticle_edit', {'id': warticle.id}) }}">edit</a>

    {{ include('warticle/_delete_form.html.twig') }}
{% endblock %}
