{% extends 'base.html.twig' %}

{% block title %}Wcategorie{% endblock %}

{% block body %}
    <h1>Wcategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wcategorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ wcategorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wcategorie_index') }}">back to list</a>

    <a href="{{ path('app_wcategorie_edit', {'id': wcategorie.id}) }}">edit</a>

    {{ include('wcategorie/_delete_form.html.twig') }}
{% endblock %}
