{% extends 'base.html.twig' %}

{% block title %}Dproduit{% endblock %}

{% block body %}
    <h1>Dproduit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dproduit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ dproduit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dproduit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ dproduit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_dproduit_index') }}">back to list</a>

    <a href="{{ path('app_admin_dproduit_edit', {'id': dproduit.id}) }}">edit</a>

    {{ include('admin_dproduit/_delete_form.html.twig') }}
{% endblock %}
