{% extends 'base.html.twig' %}

{% block title %}Scategorie index{% endblock %}

{% block body %}
    <h1>Scategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
                <th>Voir les produits correspondant</th>
            </tr>
        </thead>
        <tbody>
        {% for scategorie in scategories %}
            <tr>
                <td>{{ scategorie.id }}</td>
                <td>{{ scategorie.nom }}</td>
                <td>
                    <a href="{{ path('app_admin_scategorie_show', {'id': scategorie.id}) }}">show</a>
                    <a href="{{ path('app_admin_scategorie_edit', {'id': scategorie.id}) }}">edit</a>
                </td>
                <td>
                   <a href="{{ path('app_admin_prod_cat', {'id': scategorie.id}) }}">Voir les produits correspondant</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_scategorie_new') }}">Create new</a>
{% endblock %}
