{% extends 'base.html.twig' %}

{% block title %}ProfileCategorie{% endblock %}

{% block body %}
    <h1>ProfileCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile_categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profile_categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profile_categorie_index') }}">back to list</a>

    <a href="{{ path('app_profile_categorie_edit', {'id': profile_categorie.id}) }}">edit</a>

    {{ include('profile_categorie/_delete_form.html.twig') }}
{% endblock %}
